.linkMenuPerfil {
  text-decoration: none;
  color: var(--preto0);
}

.itemMenuPerfil {
  padding: 20px;
  font-size: 20px;
  width: 150px;
  text-align: center;
}

.itemMenuPerfil:hover {
  color: var(--cinza1);
  transition: 250ms;
}

.fotoPerfil {
  /* min-height: 90px;
  min-width: 90px; */
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

.componentesPerfil {
  background-color: var(--branco0);
  min-height: 100px;
  width: 850px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: var(--sombra);
}

.infoUsuario {
  display: flex;
}

.dadosUsuario .nomeUsuario, .dadosUsuario .fotoPerfil {
  display: flex;
}

.dadosUsuario:not {
  background-color: var(--branco0);
  padding: 30px;
  border-radius: 3px;
  width: 50%;
  min-width: 400px;
}

.dadosUsuario * {
  margin: auto;
}

.nomeUsuario {
  width: fit-content;
  /* margin: 20px; */
}

.editarPerfil {
  display: block;
}
